{% extends "layout.twig" %}

{% block content %}
    <div style="text-align: center;">
      <h1>Hello, {{ username }}</h1>
      <p class="lead">You are signed in with Twitter.</p>
    </div>
{% endblock %}