<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="tktk">
  <meta name="author" content="Kieran Patel http://kajp.im">
  <link rel="stylesheet" href="/resources/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

  <div class="container">

    {% block content %}
    {% endblock %}

  </div>

  <script src="/resources/jquery/jquery.min.js"></script>
  <script src="/resources/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>