{% extends "layout.twig" %}

{% block content %}
    <div style="text-align: center;">
      <h1>Hello</h1>
      <p class="lead"><a href="/login">Sign in with Twitter</a>.</p>
    </div>
{% endblock %}