{% extends "layout.twig" %}

{% block content %}
    <div style="text-align: center;">
      <h1>Hello, {{ username }}</h1>
      <p class="lead">You are not in an org.</p>

      <a class="btn btn-default btn-lg">Create One</a>
      <a class="btn btn-primary btn-lg">Join One</a>

      <h1 style="font-size:128px;">💩</h1>
    </div>
{% endblock %}